# ======================
# DATASET
# ======================
dataset/
*.wav

# ======================
# MODELS
# ======================
*.pth
*.pkl

# ======================
# PYTHON CACHE
# ======================
__pycache__/
*.pyc

# ======================
# VIRTUAL ENV
# ======================
venv/

# ======================
# PYCHARM
# ======================
.idea/

# ======================
# OS FILES
# ======================
.DS_Store
Thumbs.db